Node-RED Cloud/Forget Password/forgetpassword.json
[
    {
        "id": "d5eae629c0c2c88b",
        "type": "ui_text_input",
        "z": "891ff44c6993e433",
        "name": "",
        "label": "Enter Email",
        "tooltip": "",
        "group": "9bec68b49cf6518d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 900,
        "wires": [
            [
                "1421282a5bce4e04"
            ]
        ]
    },
    {
        "id": "80619c37b95c2c0f",
        "type": "e-mail",
        "z": "891ff44c6993e433",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "lutfilais4@gmail.com",
        "dname": "",
        "x": 580,
        "y": 900,
        "wires": []
    },
    {
        "id": "1421282a5bce4e04",
        "type": "function",
        "z": "891ff44c6993e433",
        "name": "",
        "func": "msg.topic = \"Forget Password\"\nif (msg.payload==\"lutfilais4@gmail.com\"){\n    var deeznuts = \"Your password is: lutfi\"\n}\nmsg.payload = deeznuts\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 900,
        "wires": [
            [
                "80619c37b95c2c0f"
            ]
        ]
    },
    {
        "id": "9bec68b49cf6518d",
        "type": "ui_group",
        "name": "Forgot Password",
        "tab": "4b6fc4b0a696abdd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b6fc4b0a696abdd",
        "type": "ui_tab",
        "name": "Forget Password",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
